.section__title {
  padding-top: 120px;
  text-align: center;

  &-text {
    font-weight: 700;
    font-size: 40px;
    color: #e65f78;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}

img {
  width: 100%;
  height: auto;
}

.red-bold {
  color: red;
  font-weight: 600;
}

.about__contents {
  margin-top: 20px;
  justify-content: center;

  &-img {
    text-align: center;
    margin-top: 10px;
  }

  &-text {
    word-wrap: break-word;
  }
}
